*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Questrial", system-ui, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #fbd59d;
}
/* nav bar */

/*BASE STYLES*/
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: #fbd59d;
  padding: 3em 0;
}
nav i {
  font-size: 1.5rem;
  position: absolute;
  right: 2em;
  top: 1em;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navListItem {
  list-style-type: none;
  text-align: center;
  margin: 1.5em 0;
}
.navListLink {
  text-decoration: none;
  text-transform: uppercase;
  color: #0d3b66;
  font-weight: 200;
  font-size: 2rem;
}
.navListLink:hover {
  border-bottom: 2px solid #0d3b66;
  color: #db5375;
}
iframe,
img {
  max-width: 100%;
}
.map-cont iframe {
  width: 90%;
  margin: 0 auto;
  height: 50vh;
}
main {
  display: flex;
  flex-direction: column;
}
.coiny-regular {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}
img {
  width: 100px;
  height: 100px;
}
.card-cont {
  background-color: #0d3b66;
  padding: 20px;
  border: 2px solid black;
  margin: 20px;
  color: #ffb800;
  border-radius: 2%;
  text-align: center;
}
/*about */
.card-cont,
.about-cont {
  height: auto;
}
.about-cont {
  color: #ed863b;
}
.about-cont span {
  color: #ffb800;
}
.btn {
  background-color: #ffb800;
  color: #0d3b66;
  border-radius: 15px;
  align-self: center;
  padding: 10px 15px;
  font-size: 27px;
  margin-bottom: 10px;
}
.btn:hover {
  background-color: #ed863b;
  cursor: pointer;
}
/* intro cards*/
.card-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.card-open div {
  display: flex;
  text-align: left;
}
.open-icon-cont {
  display: flex;
  flex-direction: column;
}
.open-icon-cont img + img {
  margin-left: -45px;
}
.card-open h1 {
  font-size: 45px;
}
.card-open h2 {
  font-size: 41px;
  color: #ed863b;
}
.card-open h3 {
  font-size: 34px;
}
.card-closed {
  color: #db5375;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-closed h1 {
  font-size: 45px;
}
.fa-solid .fa-bridge {
  color: #db5375;
}
.bridge--icon {
  position: unset;
  font-size: 50px;
}
.card-img {
  width: 100px;
  height: auto;
  margin-bottom: 30px;

  background-color: #db5375;
}

.card-disappear {
  visibility: hidden;
  display: none;
  transition: opacity 0.3s ease-in-out;
}
.fade {
  transition: opacity 0.5s ease-in-out;
  /* opacity: 0; */
}
a {
  text-decoration: none;
  color: #0d3b66;
}
.about h2 {
  color: #ed863b;
}
#twitter-widget-0 iframe {
}

/* MEDIA QUERIES */
@media (min-width: 547px) {
  #when {
    margin-left: -84px;
  }
  .card-open h1 {
    margin-left: 47px;
  }
}
@media (min-width: 650px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 850px) {
  .card-cont {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    border-color: orange;
    border: 1.45px dotted;
  }
  .open-icon-cont {
    display: flex;
    flex-direction: row;
  }
  .card-open h1 {
    width: 75%;
    text-align: center;
  }
}
